.position {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.trafikljus1 {
  flex-direction: column;
  background-color: black;
}
.trafikljus2 {
  flex-direction: column;
  background-color: black;
  margin-left: 100px;
}
.red {
  display: flex;
  align-items: end;
  height: 200px;
  width: 200px;
  margin: 10px;
  background-color: red;
  border: solid 10px darkred;
}
.yellow {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 200px;
  width: 200px;
  margin: 0px 10px;
  background-color: yellow;
  border: solid 10px darkgoldenrod;
}
.green {
  display: flex;
  align-items: end;
  height: 200px;
  width: 200px;
  margin: 10px;
  background-color: green;
  border: solid 10px darkgreen;
}
.lightred {
  background-color: lightcoral;
  height: 100px;
  width: 200px;
}
.lightyellow {
  background-color: lightgoldenrodyellow;
  height: 100px;
  width: 100px;
}
.lightgreen {
  background-color: lightgreen;
  height: 100px;
  width: 100px;
}
